= form_for @group do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, "グループ名", class: "chat-group-form__field--label"
    .chat-group-form__field--right
      = f.text_field :name, placeholder: "グループ名を入力してください", class: "chat-group-form__field--input", id: "chat_group_name", value:@group.name, type: "text"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :チャットメンバーを追加, class: "chat-group-form__field--label"
    .chat-group-form__field--right
      %input{ placeholder: "追加したいユーザー名を入力してください", type: "text", id: "group_member", class: "chat-group-form__field--search"}
      #user-search-result
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :チャットメンバー, class: "chat-group-form__field--label"
    .chat-group-form__field--right
      #chat-group-users
        .chat-group-user.clearfix
          = current_user.name
          = hidden_field_tag('group[user_ids][]', current_user.id)
        = render partial: 'user', collection: @group.users.exclude(current_user)
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit "Save", class: "chat-group-form__action-btn"
