= render 'side'
.chat-main
  .top
    .top__group
      .top__group--name
        = @group.name
      .top__group--member
        Members:
        - @group.users.each do |user|
          = user.name
    .top__edit
      =link_to "Edit", edit_group_path(@group)
  .chat
    = render @chats
  .message
    = form_for [@group, @chat] do |f|
      .message__box
        = f.text_field :text, placeholder: "type a message", class: "message__box--text"
        .i.icon.fa.fa-picture-o
      = f.submit :Send, class: "message__send"

